@import "@/styles/config/mixins";
@import "@/styles/config/typography";

.add-expense {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	padding-top: 15%;

	&-form {
		width: 100%;
		padding: 1rem;

		& > div > div {
			padding: 12px;
		}
	}
}
