@import "@/styles/config/mixins";

.home-body {
	width: 100%;

	&-bucket {
		&__header {
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: 12px;
			padding: 18px 24px;
			background-color: var(--back-shadow-light);

			@include responsive(phone) {
				padding: 12px;
			}
		}

		&__meta {
			display: flex;
			justify-content: flex-start;
			align-items: flex-start;
			flex-direction: column;
			gap: 4px;
		}

		&__summary {
			&--paid {
				color: var(--material-red);
			}

			&--received {
				color: var(--material-green);
			}
		}

		&__content {
			padding: 0 1rem;

			&--expanded {
				height: auto;
				opacity: 1;
				visibility: visible;
			}

			&--collapsed {
				height: 0;
				opacity: 0;
				visibility: hidden;
			}

			& > * {
				border-bottom: 1px solid var(--back-shadow);

				&:last-child {
					@include responsive(phone) {
						border-color: transparent;
					}
				}
			}
		}
	}
}
