@import "@/styles/config/mixins";

.home-hero {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-flow: column;
	gap: 24px;
	position: relative;
	padding-top: 48px;

	@include responsive(phone) {
		height: auto;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	}

	&-logo {
		width: 60%;
		height: auto;
		max-height: 150px;
		object-fit: contain;
	}

	&-container {
		width: 60%;
		margin-right: auto;
		padding: 48px;
		display: flex;
		justify-content: flex-start;
		align-items: stretch;
		flex-direction: column;
		gap: 24px;

		@include responsive(phone) {
			width: 100%;
			padding: 24px;
			justify-content: center;
			align-items: center;
			text-align: center;
		}

		button {
			margin-top: 24px;
		}

		&__logo {
			width: auto;
			height: 100%;
			object-fit: contain;
		}

		&__subheading {
			@include responsive(phone) {
				font-size: 20px;
			}
		}

		&__description {
			color: var(--theme-grey);
		}
	}

	&-logo {
		width: 40%;
		display: flex;
		justify-content: flex-start;
		align-items: center;

		@include responsive(phone) {
			width: auto;
			height: 10rem;
		}
	}

	&-content {
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		flex-direction: column;
		flex: 0 0 auto;
		gap: 12px;

		@include responsive(phone) {
			align-items: center;
		}
	}

	&-image {
		object-fit: contain;
		max-width: 80%;
		max-height: 50%;
		height: auto;
		position: absolute;
		bottom: 0;
		right: 0;

		@include _theme(dark) {
			filter: invert(1);
		}

		@include responsive(phone) {
			position: relative;
			bottom: unset;
			right: unset;
			max-height: unset;
			width: 120%;
			max-width: unset;
		}
	}
}

.home-body {
	width: 100%;

	&-bucket {
		&__header {
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: 12px;
			padding: 18px 24px;
			background-color: var(--back-shadow-light);

			@include responsive(phone) {
				padding: 12px;
			}
		}

		&__meta {
			display: flex;
			justify-content: flex-start;
			align-items: flex-start;
			flex-direction: column;
			gap: 4px;
		}

		&__summary {
			&--paid {
				color: var(--material-red);
			}

			&--received {
				color: var(--material-green);
			}
		}

		&__content {
			padding: 0 1rem;

			&--expanded {
				height: auto;
				opacity: 1;
				visibility: visible;
			}

			&--collapsed {
				height: 0;
				opacity: 0;
				visibility: hidden;
			}

			& > * {
				border-bottom: 1px solid var(--back-shadow);

				&:last-child {
					@include responsive(phone) {
						border-color: transparent;
					}
				}
			}
		}
	}
}

.home-sort,
.home-filters {
	width: 100%;

	&-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0.5rem;

		&-empty,
		&-close {
			width: 1rem;
			height: 1rem;
		}

		&-close {
			@include init-button;
		}
	}
}

.home-sort {
	&-options {
		width: 100%;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		flex-direction: column;
		padding: 12px 0;
	}

	&-option {
		width: 100%;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		gap: 12px;
		padding: 12px;
		cursor: pointer;
		user-select: none;
		border-radius: 8px;

		&__icon,
		&__checkmark {
			width: 1.5rem;
			height: 1.5rem;
			display: inline-flex;
			justify-content: center;
			align-items: center;

			svg {
				width: 100%;
				height: 100%;
			}
		}

		&__icon {
			padding: 2px;
		}

		&:hover {
			background-color: var(--back-shadow-light);
		}

		&:active {
			background-color: var(--back-shadow);
		}

		&__checkmark {
			margin-left: auto;
			color: var(--mac-green);
		}
	}

	&-reset {
		width: 100%;
	}
}
