@import "@/styles/config/mixins";

@import "./hero";
@import "./body";

.home-sort,
.home-filters {
	width: 100%;

	&-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0.5rem;

		&-empty,
		&-close {
			width: 1rem;
			height: 1rem;
		}

		&-close {
			@include init-button;
		}
	}
}

@import "./sort";
@import "./filters";
